header {background-color: #5244b7;box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.75);}
h1 {margin: 0;padding: 3vh;color: white;}